fastapi==0.120.0
uvicorn==0.38.0
aiofiles==25.1.0
python-multipart==0.0.20
pydantic==2.12.3
torch==2.6.0+cu124
torchvision==0.16.1+cu124
torchaudio==2.6.0+cu124
faster-whisper==1.2.0
numpy==1.27.4
tqdm==4.66.1
requests==2.32.1
